types { include "/usr/share/misc/mime.types" }

## Default
server "default" {
	listen on * port 80
	listen on * port 443

	alias match "%d+%.%d+%.%d+%.%d+"
	alias match "%w*::*"

	log { access "default-access.log", error "default-error.log" }

	## PHP-FPM
	#location "*.php" {
	#   fastcgi socket "/run/php-fpm.sock"
	#}
	##

	block

	root "/htdocs"
}


